 * {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}
html{
  scroll-behavior: smooth;
}
:root {
    --primary-color: #2b81e4;
    --secondary-color: #eee;
    --white-color: #fff;
    --grey-color: #555;
    --light-grey-color: rgb(207, 207, 207);
    --button-color:#0ead69;
    --button-color-hover: #80ed99;
}
.navbar{
  justify-content: space-between;
} 
/* ======================================================carousel====================================================== */
 #carousel .carousel-item.river {
    background-image: url("../images/5.jpg");
  }

#carousel .carousel-item.riverside {
  background-image: url("../images/2.jpg");
}

#carousel .carousel-item.rivervalley {
  background-image: url("../images/3.jpg");
}

#carousel .carousel-item {
  height: 90vh;
  width: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

#carousel .carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

#carousel .carousel-item .caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  color: white;
  animation-duration: 1s;
  animation-delay: 2s;
}

#carousel .caption h2 {
  animation-duration: 1s;
  animation-delay: 2s;
}

#carousel .caption p {
  animation-duration: 1s;
  animation-delay: 2.2s;
}

#carousel .caption a {
  animation-duration: 1s;
  animation-delay: 2.4s;
}

/* Button */
 .delicious-btn { 
display: inline-block;
min-width: 160px;
height: 60px;
color: #ffffff;
border: none;
border-left: 3px solid var(--button-color);
border-radius: 0;
padding: 0 30px;
font-size: 16px;
line-height: 58px;
font-weight: 600;
-webkit-transition-duration: 500ms;
transition-duration: 500ms;
text-transform: capitalize;
background-color:var(--button-color-hover);
}

.delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--button-color);
  border-color: var(--button-color-hover);
} 
/* ============================About us =============================== */
 #About-us{
  text-align: center;
/*   margin: 5rem; */
}
#About-us p{
  font-size: 1rem;
  text-align: justify;
  margin: 1rem 0 5rem 0;
  text-overflow: inherit; 
}
/* ====================================================Services============================================================= */
.service{
  width: 100%;
  padding: 2rem;
  text-align: center;
}
.service h1{
  margin: 2rem;
}

.services{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem;
}
.card{
  margin-bottom: 2rem;
}
.card-header-1 {
  width: 100%;
  height: 5rem;
  padding-top: .5rem ;
  background:#57cc99;
}
.card-header-2 {
  width: 100%;
  height: 5rem;
  padding-top: .5rem ;
  background:#80ed99;
}
.card-header-3 {
  width: 100%;
  height: 5rem;
  padding-top: .5rem ;
  background:#c7f9cc;
}
.card-header-4 {
  width: 100%;
  height: 5rem;
  padding-top: .5rem ;
  background:#c7f9cc;
}
.card-header-5 {
  width: 100%;
  height: 5rem;
  padding-top: .5rem ;
  background:#80ed99;
}
.card-header-6 {
  width: 100%;
  height: 5rem;
  padding-top: .5rem ;
  background:#57cc99;
}
.read-more{
position: absolute;
right: 0;
bottom: 0;
width: 2rem;
height: 2rem;
text-align: center;
background: var(--light-grey-color);
}
.read-more:hover{
  background: #57cc99;
  cursor: pointer;
}

/* ============================================================== */

 /* ===============================================================footer============================================= */
 .bg-primary{
  padding-top: 1.5rem;
}
#footer h5{
 padding-left: 10px;
   border-left: 3px solid #eeeeee;
   padding-bottom: 6px;
   margin-bottom: 20px;
   color:#ffffff;
}
#footer a {
   color: #ffffff;
   text-decoration: none !important;
   background-color: transparent;
   -webkit-text-decoration-skip: objects;
}
#footer ul li {
   color: #ffffff;
   text-decoration: none !important;
   background-color: transparent;
   -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
 padding: 3px 0;
}
#footer ul.social li a i {
   margin-right: 5px;
 font-size:25px;
 -webkit-transition: .5s all ease;
 -moz-transition: .5s all ease;
 transition: .5s all ease;
}
#footer ul.social li:hover a i {
 font-size:30px;
 margin-top:-10px;
}
#footer ul.social li,
#footer ul.quick-links li {
 color:#ffffff;
}
#footer ul.social li:hover{
 color:#eeeeee;
}
#footer ul.quick-links li{
 padding: 3px 0;
 -webkit-transition: .5s all ease;
 -moz-transition: .5s all ease;
 transition: .5s all ease;
}
#footer ul.quick-links li:hover{
 padding: 3px 0;
 margin-left:5px;
 font-weight:700;
}
#footer ul.quick-links li i{
 margin-right: 6px;
}

#footer ul.quick-links li:hover i{
   font-weight: 700;
}
.h6 a:hover{
 font-weight: 700;
}
@media (max-width:767px){
 #footer h5 {
   padding-left: 0;
   border-left: transparent;
   padding-bottom: 0px;
   margin-bottom: 10px;
}
}
#footer{
 padding-bottom: 1rem;
} 
/* ==================================== */

.thumb {
	margin-bottom: .8rem;
}
.thumb:last-child {
	margin-bottom: 0;
}
/* CSS Image Hover Effects: https://www.nxworld.net/tips/css-image-hover-effects.html */
.thumb 
figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.thumb 
figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* ========================================= */
.wrapper{
  padding: 30px 15px;
}
.row{
  max-width: 1024px;
  margin: 0px auto;
}

*,*:before,*:after{
  box-sizing: border-box;
}
.cf:before,
.cf:after{
  display: table;
  content: " ";
}
.cf:after{
  clear: both
}

.header{
  text-align: center;
  padding: 0px 15px;
  margin-bottom: 30px;
}
.header h1{
  font-size: 2.8rem;
}
.header p{
  font-size: 1.3rem;
  line-height: 150%;
}

/*fancy card styling*/
.fancy-card{
  background: #eee;
  width: 100%;
  display: block;
  float: left;
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 250ms ease-in;
  min-height: 300px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
}
.fancy-card.one{
   background-image: url("../images/2.jpg");
}
.fancy-card.two{
   background-image: url("../images/6.jpg");
}
.fancy-card.three{
   background-image: url("../images/8.jpg");
}

.fancy-card .bg-overlay{
    background: rgba(0,0,0,0.25);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all 200ms linear;
}
.fancy-card .content{
  padding: 30px 40px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
}
.fancy-card .content .primary{
  text-transform: uppercase;
  width: 100%;
  transition: all 250ms ease-out 200ms;
  opacity: 1;
  transform: translate3d(0px, 0px, 1px);
}
.fancy-card .content .secondary{
  position: absolute;
  opacity: 0;
  left: 0px;
  transform: translate3d(0px, 30px, 1px);
  transition: all 200ms linear 0ms;
  padding-left: 35px;
  padding-right: 35px;
}

.fancy-card .button{
  border: solid 1px #fff;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 2px;
  margin: 12px auto;
}


/*horizontal border elements (top & bottom)*/
.fancy-card .v-border{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.fancy-card .v-border:before,
.fancy-card .v-border:after{
  width: 0%;
  height: 1px;
  left: 50%;
  transition: all 250ms ease-out;
  background: #fff;
}
.fancy-card .v-border:before{
  content: '';
  top: 10%;
  position: absolute;
}
.fancy-card .v-border:after{
  content: '';
  bottom: 10%;
  position: absolute;
}

/*horizontal elements (left & right)*/
.fancy-card .h-border{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.fancy-card .h-border:before,
.fancy-card .h-border:after{
  height: 0%;
  top: 50%;
  width: 1px;
  transition: all 250ms ease-out;
  background: #fff;
}
.fancy-card .h-border:before{
  content: '';
  left: 10%;
  height: 0%;
  position: absolute;
}
.fancy-card .h-border:after{
  content: '';
  right: 10%;
  position: absolute;
}


/*hover states for interactivity*/
.fancy-card:active .v-border:before,
.fancy-card:active .v-border:after,
.fancy-card:hover .v-border:before,
.fancy-card:hover .v-border:after{
  width: 90%;
  left: 5%;
}
.fancy-card:active .h-border:before,
.fancy-card:active .h-border:after,
.fancy-card:hover .h-border:before,
.fancy-card:hover .h-border:after{
  height: 90%;
  top: 5%;
}

/*hovering over card, shadow effect*/
.fancy-card:active,
.fancy-card:hover{
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
}
/*hovering over card, adjust primary element*/
.fancy-card:active .content .primary,
.fancy-card:hover .content .primary{
  opacity: 0;
  transform: translate3d(0px, 20px, 1px);
  transition: all 200ms linear 0ms;
}
/*hoverijng over card, adjust secondary element*/
.fancy-card:active .content .secondary,
.fancy-card:hover .content .secondary{
  opacity: 1;
  transform: translate3d(0px, 0px, 1px);
  transition: all 200ms linear 200ms;
}

/*hovering over card, adjust background overlay*/
.fancy-card:active .bg-overlay,
.fancy-card:hover .bg-overlay{
  background: rgba(0,0,0,0.45);
}
/*medium and large profiles*/
@media screen and (min-width: 768px){
  
  .fancy-card{
    width: 30%;
    margin: 0% 1.66% 3.33% 1.66%;
  }
  
}
